.codedraft
.github
.idea
.vscode
assets/preview.png
src
.vscode/**
.vscode-test/**
out/test/**
src/**
tsconfig.json
eslintrc.json
.prettierrc
.gitignore
.vscodeignore
vsc-extension-quickstart.md
webpack.config.js
**/*.map
node_modules/**
!node_modules/